:root {
    --accent-color: #2196F3;
    --secondary-color: #F5F5F5;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;   
}

body{
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: var(--primary-text-color);
    background-color: var(--secondary-color); 
}