:root {
    --accent-color: #2196F3;
    --secondary-color: #F5F5F5;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;   
}


body{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 14px;
    font-family: inherit;
    color: var(--primary-text-color);
    background-color: var(--secondary-color); 
    
}


ul {
    list-style: none;
    display: inline-flex;
}


.accent {
    color: var(--accent-color);
}


a{
    color: inherit;
    text-decoration: none;
}


.link:hover,:focus{
    color: var(--accent-color);

}


.link-tel:hover,:focus {
    color: var(--accent-color);
}


.link-address:hover,:focus {
    color: var(--accent-color);
}


.logo-head{
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-weight: 700;
    font-size: 26px;
    line-height: 31 px;
    text-decoration: none;
}


.list-nav {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}


.link-address{
    color: var(--secondary-text-color);
}


.link-tel{
    color: var(--secondary-text-color);
}


.title{
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}


.text{
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}


.title-main{
    text-align: center;
    text-transform: uppercase;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    background: #2F303A;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
}


.btn{
    background: #F5F4FA;
    border-radius: 4px;
}


.footer {
    color: #FFFFFF;
    background: #2F303A;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}


.list-cont {
    display: list-item;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}


.logo-foot {
    display: list-item;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-decoration: none;
}


.link-tel-foot{ 
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
}


.link-address-foot{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
}


.link-address-foot:hover,:focus {
    color: var(--accent-color);
}


.link-tel-foot:hover,:focus {
    color: var(--accent-color);
}


.link-cont{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}


.link-cont:hover,:focus{
    color: var(--accent-color);
}

